<div class="notification is-primary">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident esse expedita fuga saepe maxime amet optio ipsam libero iusto consequuntur, veritatis delectus cum dolorum, voluptates enim temporibus vitae maiores!
</div>

<div class="notification is-danger">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident esse expedita fuga saepe maxime amet optio ipsam libero iusto consequuntur, veritatis delectus cum dolorum, voluptates enim temporibus vitae maiores!
</div>
